[build]
  base = "."
  publish = "site"
  command = "bash build.sh"

[build.environment]
  # We need this variable to be defined for Prisma to generate the client library post-install
  POSTGRES_URI = "postgres://username:password@localhost:5432/db"

[build.processing.html]
  pretty_urls = true

[[redirects]]
  from = "/invite"
  to = "https://discord.com/oauth2/authorize?client_id=388191157869477888&permissions=8&scope=bot"
  status = 301

[[redirects]]
  from = "/server"
  to = "https://discord.gg/jTHpDv9"
  status = 301

[[redirects]]
  from = "/patreon"
  to = "https://www.patreon.com/pizzafox"
  status = 301

[[redirects]]
  from = "/donate"
  to = "https://www.patreon.com/pizzafox"
  status = 301

[[redirects]]
  from = "/vote"
  to = "https://top.gg/bot/388191157869477888/vote"
  status = 301
