-i https://pypi.org/simple/
click==7.1.1
htmlmin==0.1.12
jinja2==2.11.2
jsmin==2.2.2
livereload==2.6.1
markdown==3.2.1
markupsafe==1.1.1
mkdocs-material==4.6.3
mkdocs-minify-plugin==0.3.0
mkdocs==1.1
pep562==1.0
pygments==2.5.2
pymdown-extensions==7.1
pyyaml==5.2
six==1.14.0
tornado==6.0.4
