{% extends "base.html" %}

{% block extrahead %}
  <meta property="og:type" content="website">
  <meta name="twitter:card" value="summary">
  <meta property="twitter:image" content="{{ config.site_url }}/{{ config.theme.detailedLogo }}">
  <meta property="og:image" content="{{ config.site_url }}/{{ config.theme.detailedLogo }}">
  {% if page and page.meta and page.meta.description %}
    <meta name="twitter:description" content="{{ page.meta.description }}">
  {% elif config.site_description %}
    <meta name="twitter:description" content="{{ config.site_description }}">
  {% endif %}
  {% if page.canonical_url %}
    <meta property="og:url" content="{{ page.canonical_url }}">
    <meta property="twitter:url" content="{{ page.canonical_url }}">
  {% endif %}

  <meta property="og:site_name" content="{{ config.site_name }}">
  {% if page and page.meta and page.meta.title %}
    <meta property="og:title" content="{{ page.meta.title }}">
    <meta name="twitter:title" content="{{ page.meta.title }}">
    <title>{{ page.meta.title }}</title>
  {% elif page and page.title and not page.is_homepage %}
    <meta property="og:title" content="{{ page.title }} - {{ config.site_name }}">
    <meta name="twitter:title" content="{{ page.title }} - {{ config.site_name }}">
    <title>{{ page.title }} - {{ config.site_name }}</title>
  {% else %}
    <meta property="og:title" content="{{ config.site_name }}">
    <meta name="twitter:title" content="{{ config.site_name }}">
  {% endif %}
{% endblock %}